/*
 *		colors.css
 *		2020-11-16 usp
 */

.rule { border-color: #6060A0;}
#navigation-panel a:visited { color : purple; }
#navigation-panel a { color: inherit; }
body { color : #333; }
cc { color : #4b4; }
figcaption+iframe { background-color : #F8F0C0; }
figcaption+pre { background-color : #FFF8D0; }
h1.page-title { color : #6060A0; }
h1, h2, h3, h4, h5, h6 { color : #6060A0 ; }
hi { color: #E77F00 ; }
pre { color : #303080; background-color : #FEFEFE ; }
tt { color : #8080D0; }
